#home {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.app-device {
  background: url(http://www.somerobots.com/assets/device.svg);
}

#trident-logo {

}

#some-robots-logo strong {
  color: #1fa8fc;
  background-image: -webkit-linear-gradient(92deg,#1780fb,#1fa8fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
  @include media-query($on-palm) {
    font-weight: 150;
    font-size: 32px;
  }
}

#trident-logo strong {
  color: #1fa8fc;
  background-image: -webkit-linear-gradient(92deg,#1780fb,#1fa8fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  @include media-query($on-palm) {
    font-weight: 150;
    font-size: 32px;
  }
}

#trident-logo small {
    color: #ccc;
    font-size: 44px;
    @include media-query($on-palm) {
      font-weight: 100;
      font-size: 22px;
    }
}

#features {
  background: #333333;
  padding: $spacing-unit 0;
}

#features h1 {
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-size: 32px;
}

/**
 Special Thanks
*/

#special-thanks {
  background: #fff;
  color: #000;
  padding: $spacing-unit 0;
}

#special-thanks h1 {
  color: #000;
  text-align: center;
  font-size: 32px;
}

/**
About Freshcocoa
*/

#about-freshcocoa {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  background: #007AFF;
  text-align: center;
}

#about-freshcocoa h1 {
  color: #fff;
  font-size: 32px;
  @include media-query($on-palm) {
    font-weight: 150;
    font-size: 22px;
  }
}

#about-freshcocoa h2 {
  color: #fff;
  font-size: 25px;
  @include media-query($on-palm) {
    font-weight: 100;
    font-size: 18px;
  }
}

#about-freshcocoa h3 {
  color: #fff;
  font-size: 20px;
  @include media-query($on-palm) {
    font-weight: 100;
    font-size: 15px;
  }
}

/**
 * Site footer
 */

#footer-cr {
  color: #ccc;
}

.site-footer {
    background: #20262f;
    color: #c5d0de;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 25px;
    color: #fff;
    margin-bottom: $spacing-unit / 2;
}

.footer-news-heading {
    font-size: 25px;
    color: #fff;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #c5d0de;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: 0 0;
}

.page-heading {
    font-size: 20px;
}

.post {
  padding-top: 30px;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

body, input, textarea, select, button {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern'
}

#app-icon {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include media-query($on-palm) {
    width: 100px;
    height: 100px;
  }
}

#app-header {
  margin-top: 20px;
  max-width: -webkit-calc(#{$on-palm} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$on-palm} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
      max-width: -webkit-calc(#{$on-palm} - (#{$spacing-unit}));
      max-width:         calc(#{$on-palm} - (#{$spacing-unit}));
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
  }
}

#app-header h1 {
  font-weight: 200;
  font-size: 64px;
  font-family: 'helvetica neu', helvetica, sans-serif;
  text-align: center;
  @include media-query($on-palm) {
    font-weight: 100;
    font-size: 40px;
  }
}

#app-header h2 {
  color: #333;
  text-align: center;
  font-size: 37px;
  @include media-query($on-palm) {
    font-size: 20px;
  }
}

#app-devices h2 {
  color: #fff;
  text-align: center;
  font-size: 37px;
  @include media-query($on-palm) {
    font-size: 20px;
  }
}

#features h2 {
  color: #fff;
  text-align: center;
  font-size: 37px;
  @include media-query($on-palm) {
    font-size: 20px;
  }
}

#app-header h3 {
  color: #898989;
  text-align: center;
  @include media-query($on-palm) {
    font-size: 15px;
  }
}

#main-product {
  text-align: center;
}

#main-product-image {
  padding-top: 15px;
  padding-bottom: 15px;
}

#download-app-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#app-devices {
  color: #fff;
  padding-top: 30px;
  background-color: #2b2b2b;
}

@include media-query($on-palm) {
    #app-devices {
        width: 100%;
    }
}

#apps {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#apps h1 {
  text-align: center;
  font-size: 37px;
  @include media-query($on-palm) {
    font-size: 20px;
  }
}

#apps svg {
  border-radius: 3em;
  @include media-query($on-palm) {
    border-radius: 1.5em;
    width: 120px;
    height: 120px;
  }
}

#apps svg:hover #trident_icon {
  animation-name: trident_hover_keyframes;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes trident_hover_keyframes {
    from {fill: #007AFF;}
    to {fill: #333333;}
}

.app-device {
  margin-bottom: $spacing-unit;
}

.app-devices-col-wrapper {
    margin-top: $spacing-unit;
    font-size: 16px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.text-left {
  text-align: left;
}

.app-devices-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.app-devices-col-1 {
    text-align: center;
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.app-devices-col-2 {
    text-align: center;
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.app-devices-col-3 {
    text-align: center;
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .app-devices-col-1,
    .app-devices-col-2,
    .app-devices-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    // .app-devices-col-1 {
    //     float: none;
    //     text-align: center;
    // }
}

.device-description {
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.device-description:hover {
  background-color: #E9E9E9;
}

.app-devices-col div {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.app-devices-col h3 {
    font-weight: 500;
}

// Features

.app-header-col-wrapper {
    margin-top: $spacing-unit;
    font-size: 15px;
    color: #c5d0de;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

#special-thanks .app-header-col-wrapper {
  color: #000;
}

#special-thanks p {
  text-align: center;
}

.app-header-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.app-header-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.app-header-col-2 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.app-header-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .app-header-col-1,
    .app-header-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    .app-header-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .app-header-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.app-header-col h3 {
    font-weight: 500;
    color: #fff;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

img[alt=me] {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include media-query($on-palm) {
        border-radius: 85px;
        -webkit-border-radius: 85px;
        -moz-border-radius: 85px;
        width: 170px;
    }
}

img[alt=adrian] {
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

img[alt=peter] {
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
