#home {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#trident-logo {
  color: #111;
  font-weight: 200;
  font-size: 64px;
  margin: .5em 0 0 240px;
  position: relative;
  font-family: 'helvetica neu', helvetica, sans-serif;
}

.wrap {
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

#features {
  background: #333c47;
  padding: $spacing-unit 0;
}

#features h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
}

/**
 Special Thanks
*/

#special-thanks {
  background: #fff;
  color: #000;
  padding: $spacing-unit 0;
}

#special-thanks h1 {
  color: #000;
  text-align: center;
  font-size: 32px;
}

/**
About Freshcocoa
*/

#about-freshcocoa {
  padding: $spacing-unit 0;
  background: #20262f;
}

#about-freshcocoa h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
}

#about-freshcocoa p {
  color: #ccc;
  text-align: center;
}

/**
 * Site footer
 */

#footer-cr {
  color: #ccc;
}

.site-footer {
    background: #20262f;
    color: #c5d0de;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 25px;
    color: #fff;
    margin-bottom: $spacing-unit / 2;
}

.footer-news-heading {
    font-size: 25px;
    color: #fff;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #c5d0de;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0 0;
}

.page-heading {
    font-size: 20px;
}

.post {
  padding-top: 30px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

#app-icon {
  float: left;
  margin: -2em 40px 120px 0;
  width: 220px;
  height: 220px;
  z-index: 5;
}

#app-header {

}

#app-header h1 {
  font-weight: 200;
  font-size: 64px;
  margin: .5em 0 0 240px;
  position: relative;
  font-family: 'helvetica neu', helvetica, sans-serif;
}

#app-header h2 {
  color: #898989;
}

#download-app-link {
  display: block;
  margin-top: 30px;
}

#download-app-link #download {

}

#app-devices {
  text-align: center;
}

#app-devices #devices {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
}

// Features

.app-header-col-wrapper {
    font-size: 15px;
    color: #c5d0de;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

#special-thanks .app-header-col-wrapper {
  color: #000;
}

#special-thanks p {
  text-align: center;
}

.app-header-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.app-header-col-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.app-header-col-2 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.app-header-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .app-header-col-1,
    .app-header-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .app-header-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .app-header-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.app-header-col h3 {
    font-weight: 500;
    color: #fff;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

img[alt=me] {
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

img[alt=adrian] {
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

img[alt=peter] {
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
